<div id="tf-home" class="text-center">
  <div class="container" id='graybox'>
    <div class="content">
      <h1><strong>Grading College Athletic Programs</strong></h1>
      <p class="lead">From Current Athletes and Alumni</p>
      <div class="input-group">
        <input type="text" class="form-control school_search" placeholder="Find Your Team"/>
        <span id="orange-back" class="input-group-addon">
          <i class="fa fa-search"></i>
        </span>
      </div>

      <table class="table table-striped table-hover hidden schools_table">
        <tbody>
        </tbody>
      </table>

    </div>
  </div>
</div>

<br>

<div class="row black-text">
  <div class="col-md-4 text-center">
    <div class="col-md-12 well gray-back">
      <h3><strong>Anonymous Reviews</strong></h3>
      <img alt="JerseyTalk" src="<%= asset_path( 'jticon.png' ) %>">
      <h4>Anonymously share what its like to play in your college program.</h4>
    </div>
    <a href="#"><div class="view-button"><h3>View</h3></div></a>
  </div>
  <div class="col-md-4 text-center">
    <div class="col-md-12 well gray-back">
      <h3><strong>Athlete Scouting Reports</strong></h3>
      <img alt="Report Icon" src="<%= asset_path( 'scoutingicon.png' ) %>">
      <h4>Review your college program and see what's been said about you!</h4>
    </div>
    <a href="#"><div class="view-button"><h3>View</h3></div></a>
  </div>
  <div class="col-md-4 text-center">
    <div class="col-md-12 well gray-back">
      <h3><strong>Gulf South Conference</strong></h3>
      <img alt="Gulf South Conference" src="<%= asset_path( 'gscicon.png' ) %>">
      <h4>JerseyTalk is now open for teams in the Gulf South Conference!</h4>
    </div>
    <a href="#"><div class="view-button"><h3>View</h3></div></a>
  </div>
</div>