#tf-home{
  background: url("http://i.imgur.com/2WGotDM.jpg?1") no-repeat center center;
  background-size: 100%;
  color: #cfcfcf;
}

#graybox {
  padding:7%;
}

.content{
  position: relative;
  color: black;
  padding: 2%;
  margin-top: 5%;
  .input-group {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #F48138;
    input {
      font-size: 1.4em;
    }
  }
  .schools_table {
    position: absolute;
    width: 76.67%;
    margin: 0 auto;
    border: 1px solid #F48138;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
  }
  background: rgba(234, 234, 234, 0.9);
}

#orange-back {
  background-color: #F48138;
}

.gray-back {
  background-color: #F6F6F6;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom:0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.black-text {
  color: black;
}

.view-button {
  width: 100%;
  background: #5D92C2; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#5D92C2, #6CA4DA); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#5D92C2, #6CA4DA); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#5D92C2, #6CA4DA); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#5D92C2, #6CA4DA); /* Standard syntax */
  color: white;
  text-decoration: underline;
  padding-bottom: .6%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 1%;
  h3 {
    padding-top: 1%;
    margin-top: 0;
  }
}

.top-listings-header {
  background-color: #000156;
  color: white;
  text-decoration: underline;
}

.top-section {
  .top-icon {
    margin-top:3em;
  }
  color: black;
  background-color: white;
  padding-left: 0;
  padding-right: 0;
  margin-left: 15px;
  width: 97.65%;
}

.spacer {
    background-color: #000156;
  }

.top-listings {
  padding-right: 0;
  padding-left: 0;
}

.individual-listing {
  border: 1px solid #D3E4F4;
}

@media (max-width: 1000px){
  .rank-info {
  text-align:center
  }
}

.latest-news-header {
  padding-right: 0;
    h1 {
      display: inline;
    }
}

