.review-show-container {
  margin-top: 120px;
  background-color: #f6f6f6;
  color: black;
  position: relative;
  padding-right: 0;
  padding-left: 0;
}

.sport-name, .clear-review-header {
  margin-top: 0;
  clear: both;
}

.sport-name, .school-name {
  padding-left: 20px;
}

.school-name {
  font-weight:600;
}

.write-review-display {
  background-color: #F67B29;
  color: #FFFFFF;
  position:absolute;
  top: 2em;
  right: 5em;
  padding:1em 4em;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(122,111,122,1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(122,111,122,1);
  box-shadow: 0px 0px 0px 1px rgba(122,111,122,1);
}

.active-coloring {
  background-color: #FEC500;
  color: white;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(122,111,122,1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(122,111,122,1);
  box-shadow: 0px 0px 0px 1px rgba(122,111,122,1);
  height: 3em;
  vertical-align: middle;
}

.active-coloring.active {
  background-color: #F67B29;
}

.gray-text {
  color: gray;
  font-weight: 600;
}