<fieldset id='reviewformconfirmationtab' class='hidden'>

  <div class='row'>
    <div class="col-md-12">
      <div class='col-md-12 light-gray-div'>
        <div class="col-md-10 col-md-offset-1">
          <h1 class="center-margin">Please confirm you are a college athlete or alumni</h1>
          <h3 class="center-margin low-font-weight">This information will not be displayed on the website</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row above-below-margin">
    <div class="col-md-4 text-center">
      <img alt="Player Icon" class="top-icon center-margin" src="<%= asset_path( 'player_icon.png' ) %>">
      <h3 class="center-margin">Confirm you're a college athlete</h3>
    </div>
    <div class="col-md-8">
      <!-- Text input-->

      <div class="form-group col-md-12">
        <label class="col-md-3 control-label" for="Select Conference Rival"><h4>First Name</h4></label>
        <div class="col-md-6 col-md-offset-1">
          <input name="textinput" type="text" class="form-control input-md" id="textinput">
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group col-md-12">
        <label class="col-md-3 control-label" for="Select Conference Rival"><h4>Last Name</h4></label>
        <div class="col-md-6 col-md-offset-1">
          <input name="textinput" type="text" class="form-control input-md" id="textinput">
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group col-md-12">
        <label class="col-md-3 control-label" for="Select Conference Rival"><h4>Jersey Number</h4></label>
        <div class="col-md-6 col-md-offset-1">
          <input name="textinput" type="text" class="form-control input-md" id="textinput">
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group col-md-12" >
        <label class="col-md-3 control-label" for="textinput"><h4>Email</h4></label>
        <div class="col-md-6 col-md-offset-1">
          <input name="textinput" type="text" class="form-control input-md" id="textinput">
        </div>
      </div>

      <!-- Password input-->
      <div class="form-group col-md-12" id="review_program_select_rival_div">
        <label class="col-md-3 control-label" for="passwordinput"><h4>Password</h4></label>
        <div class="col-md-6 col-md-offset-1">
          <input name="textinput" type="text" class="form-control input-md" id="textinput">
        </div>
      </div>
    </div>
  </div>

  <!-- Button -->
  <div class="form-group row">
    <div class="col-md-1 col-md-offset-4">
      <button id="reviewformbacktoeducation" name="singlebutton" class="btn btn-primary">Education</button>
    </div>
    <div class="col-md-2 col-md-offset-3">
      <button id="reviewformsubmit" name="singlebutton" class="btn btn-primary">Submit Review!</button>
    </div>
  </div>

</fieldset>