<fieldset id='reviewformconfirmationtab' class='hidden'>

  <div class='row'>
    <div class="col-md-12">
      <div class='col-md-12 light-gray-div'>
        <div class="col-md-10 col-md-offset-1">
          <h1 class="center-margin">Submit when all fields have been selected!</h1>
          <h3 class="center-margin low-font-weight">This information will be anonymous</h3>
        </div>
      </div>
    </div>
  </div>

  <!-- Button --><br>
  <div class="form-group row">
    <div class="col-md-1 col-md-offset-4">
      <button id="reviewformbacktoeducation" name="singlebutton" class="btn btn-primary">Education</button>
    </div>
    <div class="col-md-2 col-md-offset-3">
      <button name="singlebutton" class="btn btn-primary" id="review-form-submit-button">Submit Review!</button>
    </div>
  </div>

</fieldset>