<div style="width:180px; margin: auto" class='star-container'>
    <% 5.times do |x|%>
      <% current_id = (x+1).to_s%>
      <a href="#" id=<%=current_id%> class="rating-stars">
        <img class="rating-stars-img" alt="emptystar" src="<%= asset_path( 'empty-star.png' ) %>" data-fullstar="<%= asset_path( 'full-star.png' ) %>" data-emptystar="<%= asset_path( 'empty-star.png' ) %>">
      </a>
    <% end %>
</div>